
{% extends "base.html" %}
{% load static %}
{% block content %}
<main role="main" class="container">
  <h3>Filter Devices</h3>
    <form method="GET" action=".">
        <div class="form-row">
             <div class="form-group col-12">
                 <div class="input-group">
                     <input class="form-control py-2 border-right-0 border" name="hostname_contains" type="search" placeholder="Hostname contains..." />
                     <span class="input-group-append">
                         <div class="input-group-text bg-transparent">
                             <i class="fa fa-search"></i>
                         </div>
                     </span>
                 </div>
             </div>
        </div>
        <div class="form-row">
             <div class="form-group col-12">
                 <div class="input-group">
                     <input class="form-control py-2 border-right-0 border" name="id_exact" type="search" placeholder="ID exacts..." />
                     <span class="input-group-append">
                         <div class="input-group-text bg-transparent">
                             <i class="fa fa-search"></i>
                         </div>
                     </span>
                 </div>
             </div>
        </div>
        <div class="form-row">
             <div class="form-group col-12">
                 <div class="input-group">
                     <input class="form-control py-2 border-right-0 border" name="hostname_or_platform" type="search" placeholder="Hostname or platform..." />
                     <span class="input-group-append">
                         <div class="input-group-text bg-transparent">
                             <i class="fa fa-search"></i>
                         </div>
                     </span>
                 </div>
             </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2 col-lg-2">
              <label for="ipAddressMin">IP Address min</label>
              <input type="text" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" name="ip_address_min" class="form-control" id="ipAddressMin" placeholder="1.1.1.1">
            </div>
            <div class="form-group col-md-2 col-lg-2">
              <label for="ipAddressMax">IP Address max</label>
              <input type="text" minlength="7" maxlength="15" size="15" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$" name="ip_address_max" class="form-control" id="ipAddressMax" placeholder="255.255.255.255?">
            </div>
            <div class="form-group col-md-2 col-lg-2">
              <label for="createdAt">Creation date</label>
              <input type="date" class="form-control" name="created_at" id="createdAt">
            </div>
            <div class="form-group col-md-2 col-lg-2">
              <label for="updatedAt">Last modified date</label>
              <input type="date" class="form-control" name="updated_at" id="updatedAt">
            </div>
            <div class="form-group col-md-4">
              <label for="modelType">Model</label>
              <select id="modelType" class="form-control" name="model_type">
                <option selected value="">Choose...</option>
                  {% for model_type in model_types %}
                  <option value="{{ model_type }}">{{ model_type }}</option>
                  {% endfor %}
              </select>
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="reviewed">
          <label class="form-check-label" for="reviewed">
            Reviewed
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div class="table-responsive">
      <table class="table table-sm display" id="devices_table">
        <thread>
          <tr>
            <th scope="col">Hostname</th>
            <th scope="col">IP</th>
            <th scope="col">Platform</th>
            <th scope="col">Site</th>
            <th scope="col">Serial</th>
            <th scope="col">telnet</th>
            <th scope="col">ssh</th>
            <th scope="col">Model</th>
          </tr>
        </thread>
        <tbody>
        {% for device in devices %}
          <tr>
            <td>{{ device.hostname }}</td>
            <td>{{ device.ip_address }}</td>
            <td>{{ device.platform.name }}</td>
            <td>{{ device.site }}</td>
            <td>{{ device.serial }}</td>
            <td>{{ device.is_telnet }}</td>
            <td>{{ device.is_ssh }}</td>
            <td>
              {% for model_type in device.model_type.all %}
                {{ model_type }}
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</main>
{% endblock content %}